.btn {
  &Secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--c-secondary);
    font-size: 18px;
    border-radius: var(--border-radius);
    border: 1px solid  var(--c-secondary);
    padding: 0.8em 1em;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: var(--c-text-light);
    transition: all 0.3s ease;
    margin: auto;
    svg {
      color: var(--c-icon-secondary);
    }

    &:active,
    &:hover {
      color: var(--c-primary);

      svg {
        fill: var(--c-primary);
      }
    }
  }

  &Default,
  &Primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--c-primary);
    font-size: 18px;
    border-radius: var(--border-radius);
    border: 1px solid  var(--c-primary);
    padding: 0.8em 1em;
    cursor: pointer;
    width: 200px;
    height: 50px;
    color: var(--base-white);
    transition: all 0.3s ease;
    margin: auto;

    svg {
      fill: var(--base-white);
    }

    &:active,
    &:hover {
      color: var(--c-primary);
      background: var(--base-wight);

      svg {
        fill: var(--c-primary);
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 16px;
  }
}

.btnDefault {
  background-color: var(--c-default-btn);
  color: var(--base-white);
}

.btnAttachment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: var(--bg-attachment-btn);
}

.btnGenerator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--c-secondary);
  font-size: 18px;
  border-radius: var(--border-radius);
  border: 1px solid  var(--c-secondary);
  padding: 0.8em 1em;
  cursor: pointer;
  width: 100%;
  height: 60px;
  color: var(--c-text-dark);
  transition: all 0.3s ease;

  &:active,
  &:hover {
    color: var(--c-primary);

    svg {
      fill: var(--c-primary)
    }
  }
}

.btnRemind {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--c-secondary);
  font-size: 18px;
  font-weight: 700;
  border-radius: var(--border-radius);
  border: 1px solid  var(--c-secondary);
  padding: 0.8em 1em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  color: var(--c-text-dark);
  transition: all 0.3s ease;
  margin: 10px auto 20px;
  
  svg {
    fill: var(--c-text-dark);
  }

  &:active,
  &:hover {
    color: var(--c-text-light);

    svg {
      fill: var(--c-text-light);
    }
  }

}

.btnSms,
.btnTelegram,
.btnWhatsApp,
.btnDiscard,
.btnEmail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-whatsapp-btn);
  font-size: 18px;
  border-radius: var(--border-radius);
  border: 1px solid  var(--bg-whatsapp-btn);
  padding: 0.8em 1em;
  cursor: pointer;
  width: 100%;
  height: 60px;
  color: var(--base-white);
  transition: all 0.3s ease;
  
  svg {
    fill: var(--base-white);
  }

  &:active,
  &:hover {
    color: var(--bg-whatsapp-btn);
    background-color: var(--base-white);

    svg {
      fill: var(--bg-whatsapp-btn);
    }
  }
}

.btnTelegram {
  background: var(--c-telegram-btn);
  border: 1px solid var(--c-telegram-btn);

  &:active,
  &:hover {
    background: var(--base-white);
    color: var(--c-telegram-btn);

    svg {
      fill: var(--c-telegram-btn);
    }
  }
}

.btnSms {
  background: var(--c-sms-btn);
  border: 1px solid var(--c-sms-btn);

  &:active,
  &:hover {
    background: var(--base-white);
    color: var(--c-sms-btn);

    svg {
      fill: var(--c-sms-btn);
    }
  }
}

.btnDiscard {
  background: var(--c-discard-btn);
  border: 1px solid var(--c-discard-btn);

  &:active,
  &:hover {
    background: var(--base-white);
    color: var(--c-discard-btn);

    svg {
      fill: var(--c-discard-btn);
    }
  }
}

.btnEmail {
  background: var(--c-email-btn);
  border: 1px solid var(--c-email-btn);

  &:active,
  &:hover {
    background: var(--base-white);
    color: var(--c-email-btn);

    svg {
      fill: var(--c-email-btn);
    }
  }
}

.btnLoginGoogle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--baze-white);
  border-radius: 30px;
  border: 1px solid  var(--c-google-btn);
  width: 120px;
  height: 40px;
  font-size: 12px;
  font-weight: 500;
  color: var( --c-google-btn);
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  transition: all 0.3s ease;

  &:active,
  &:hover {
    color: var(--c-primary);
  }
}

.btnLoginFacebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--c-facebook-btn);
  border-radius: 30px;
  border: 1px solid  var(--c-facebook-btn);
  width: 120px;
  height: 40px;
  font-size: 12px;
  font-weight: 500;
  color: var( --base-white);
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  margin-left: 10px;

  &:active,
  &:hover {
    color: var(--c-primary);
  }
}

.btnLivechat,
.btnWhatsAppRound,
.btnTelephone {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.btnTelephone {
  background: var(--baze-white);
  border: 1px solid  var(--c-google-btn);
}

.btnWhatsAppRound {
  background: var(--c-success);
  border: 1px solid  var(--c-success);
}

.btnLivechat {
  background: var(--c-facebook-btn);
  border: 1px solid  var(--c-facebook-btn);
}

.btnSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: transparent;
  margin: auto;

  svg {
    fill: var(--base-white);
    width: 40px;
    height: 50px;
  }
}

.btnPlayVideo,
.btnPlayAudio {
  width: 30px;
  height:30px;
  background: transparent;
}

.btnPlayVideo {

  svg {
    fill: var(--base-white);
  }
}

.btnPlayAudio {

  svg {
    fill: var(--c-active);
  }
}

.btnCloseModal {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btnCloseFile {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.btnSkill_disabled,
.btnSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--c-primary);
  font-size: 14px;
  font-weight: 500;
  border-radius: 25px;
  border: 1px solid  var(--c-primary);
  padding: 0.8em 1.8em;
  cursor: pointer;
  width: auto;
  height: 50px;
  color: var(--base-white);
  transition: all 0.3s ease;
  margin-right: 15px;

  &:hover {
    color: var(--c-primary);
    background: var(--base-wight);
  }
}

.btnSkill_disabled {
  background: var(--c-secondary);
  border: 1px solid  var(--c-secondary);
  color: var(--c-light-element);

  &:hover {
    color: var(--c-primary);
  }

  &:active {
    background: var(--c-primary);
    color: var(--base-wight);
  }
}

