$c-primary: #ef001f;
$c-secondary: #f7f7f7;
$c-text-dark: #161616;
$c-text-light: #696969;
$container-width: 1040px;
$gutter-width: 20px/2;
$logo-width: 115px;
$logo-width-min: 73px;
$tabletBreakpoint: 992px;
$mobileBreakpoint: 767px;