@import "./styles/main.scss";
@import "./parts/form.scss";
@import "./parts/progressBar.scss";
@import "./parts/company.scss";
@import "./parts/textBlock.scss";
@import "./parts/track.scss";
@import "./parts/footer.scss";
@import "./parts/button.scss";
@import "./parts/CV.scss";
@import "./parts/profile.scss";
@import "./parts/slider.scss";
@import "./parts/feedback.scss";
@import "./parts/password.scss";
@import "./parts/phoneApp.scss";


.container {
  position: relative;
max-width: $container-width;
width: 100%;
box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
}

.info__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 0 25px;
}

.header {
  &__container {

  }

  .progress-bar {
    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {

    }
  }          
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  &__company {
    margin: 14px 0 20px;
  }

  &__company_empty {
    position: relative;
    height: 30px;
    margin-bottom: 20px;
  }

  &__info {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 0 0 100% 100% /0 0 100% 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
  }

  &__title {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
  }

  &__title_sm {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
  }

  &__text {
    display: flex;
    margin-bottom: 25px;
  }

  &__cv {
    margin-bottom: 50px;
  }

  &__application {
    margin-bottom: 50px;
  }

 
  &__form_contacts {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &__phoneAppPanel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 15px;
    
  }

  &__textPrimary {
    margin-top: 50px;
    margin-bottom: 25px;
  }
}

.advantage {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.buttonPanel {
  display: flex;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 40px;
}
