$checkboxwidth: 280px;
$checkboxheight: 20px;
$switchwidth: 152px;
$checkboxborderradius: 10px;
$c-secondary: #f7f7f7;
$c-primary: #ef001f;
$border-radius: 8px;


.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalWindow {
  background-color: var(--base-white);
  max-width: 400px; //temperary
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  left: 0;
  right: 0;
  z-index: 200;
  overflow-y: auto;
}

.modalWindow_short {
  background-color: var(--base-white);
  max-width: 400px; //temperary
  position: relative;
  width: 100%;
  height: auto;
  min-height: 615px;
  border-radius: 5% 5% 0 0;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  overflow-y: auto;
  left: 0;
  z-index: 200;
}

.modalWindow_contact {
  background-color: var(--base-white);
  max-width: 400px; //temperary
  position: relative;
  width: 100%;
  height: 425px;
  border-radius: 5% 5% 0 0;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  left: 0;
  overflow-y: auto;
  z-index: 200;
}


.modalWindow.open {
  top: 0;
}

.modalHeader,
.modalBody,
.modalFooter {
  padding: 0 25px;
  box-sizing: border-box;
}

.modalHeader_fill,
.modalHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.modalHeader {

  .helpText {
    font-size: 13px;
    z-index: 10;
  }

  &_fill {
    height: 160px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: 0 25px;
    box-sizing: border-box;
  }
}

.modalHeader__helpText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  bottom: 7px;
  z-index: 10;
}

.modalHeader__icon {
  display: flex;
  justify-content: center;
  margin: 10px auto 20px;
  z-index: 10;

  svg {
    stroke: var(--c-secondary);
  }
}

.modalHeader__btn {
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 20;

  svg {
   /* fill: var(--c-text-dark);*/
    transition: all 0.25 ease-in;
  }

  &:hover {
    svg {
      fill: var(--c-light-element);
    }
  }
}

.modalBody {
  position: relative;

  .note {
    font-size: 12px;
    text-align: center;
    color: var(--bg-point-list)
  }
}

.modalHeader__img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

  &_top {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;   
  }
}

.modalFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.modalBody {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    border-radius: $border-radius;
  }

  &__img {
    position: absolute;
    min-width: auto;
    min-height: auto;
    height: 100%;
    top: 0%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    /*2variant  width: 100%;
    height: 100%; */     
  
  }

  &__info {
    z-index: 10;
  }
}

.modalFooter {

}

.modalFooter button:last-child {
  margin-left: 10px;
}


.point {

  &__list {
    background-color: #f7f7f7;
    border-radius: var(--border-radius);
    padding: 15px 20px ;
  }

  &__title {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  &__item {
    font-size: 16px;
    margin-bottom: 16px;

  }
}


.dots {
  display: flex;
  justify-content: center;
  margin: 18px 0 25px;

  &__item_active,
  &__item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--c-secondary);
    margin: 0 4px;
  }

  &__item_active {
    background-color: var(--c-primary);
  }
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  &Text {
    font-size: 12px;
    font-weight: 500;
  }

  &Number {
    font-size: 16px;
    font-weight: 700;
  }
}

.code {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;

  &List {
    display: flex;
    position: relative;
  }

  &__icon {
    position: absolute;
    right: -13px;
    top: 50%;
    transform: translateY(-50%);
  }

  &Item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 32px;
    border-radius: var(--border-radius);
    background-color: var(--c-secondary);
    margin-right: 13px;
    font-size: 27px;
    font-weight: 700;

    &:last-of-type {
      margin-left: 0;
    }

    &.active {
      background-color: var(--c-primary);
    }

    &.empty {
      background-color: var(--base-white);
      border: 1px solid var(--c-text-dark);
    }
  }

  &Text {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-top: 13px;
  }
}

.imgContainer_sm,
.imgContainer {
  position: relative;
  height: 240px;
  width: 100%;
  border-radius: var(--modal-border-radius) var(--modal-border-radius) 0 0;
  overflow: hidden;
  margin-bottom: 25px;
  background-color: var(--c-secondary);
}

.imgContainer_sm {
  height: 50px
}

progress {
	display:inline-block;
	width: 100%;
	height:20px;
	margin:0;
	background: none;
	border: 0;
	text-align: left;
	position:relative;
  font-size: 0.8em;
}

progress::-webkit-progress-bar {
  border-radius: 15px;
	height: 20px;
	width: 280px;;
	background-color: var(--c-secondary);
	border-radius: 15px;
}

progress::-webkit-progress-value {
  position: relative;
	display:inline-block;
	height: 20px;
	background: var(--c-primary);
	border-radius: 15px;
}

progress:after {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  color: #fff;
  content: attr(value) 'Pº';
  font-size: 16px;
}

.modalProgressBar {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
                   
  &__text {
    font-size: 13px;
    color: #9d9d9d;
  }
}

.gap {
  margin-top: 40px;
}

.modalNote {
  font-size: 12px;
  color: #9d9d9d;
}

/*.modalCheckBox {
  margin-bottom: 5px;

  input[type="range"] {
    display: none;
  }

  label {
    padding: 0; //_reset
    box-sizing: border-box;
    position: relative;
    width: $checkboxwidth;
    height: $checkboxheight;
    background-color: $c-secondary;
    border-radius: $checkboxborderradius;
    cursor: pointer;
    transition: all 0.3 ease;

    &:before {
      content: "900Pº";
      position: absolute;
      width: $switchwidth;
      height: $checkboxheight;
      background-color: $c-primary;
      left: 0;
      border-radius: $checkboxheight/2;
      line-height: $checkboxheight;
      color: #fff;
      text-align: right;
      padding-right: 5px;
    }
  }

  input:checked + label {
    background-position-x: -($switchwidth+50);

    &:before {
      content:"1500Pº";
      color: #fff;
      left: 25px;
      width: $switchwidth;
    
    }
  }
}
}*/